<div class="about-us-container columns">
  <div class="right-side column">

  <div class="about-us">It's All About Me</div>
  <div class="about-us-desc">
    This website I mean.
<br></br>I'm from Atlanta, but growing up, my father would opine about our Dutch heritage, and how Pieter Claesen Wyckoff (our forefather) came to this country in 1637 as an indentured servant to Rensselaer (as in Rensselaer Polytechnic Institute (RPI) in New York).  After 6 six years of hard work, he was a free man, and apparently smart, since he married a wealthy lady who had land. Amazingly, their house still stands, circa 1652, as a New York City landmark in the Flatbush area of Brooklyn.  Check out: <a target="_blank" href="http://wyckoffmuseum.org/">The Wyckoff House</a>
<br></br> I guess I'm kind of proud of my heritage and also my family (seen at the right) for inspiring me to continue learning and trying new things, like enrolling in <a target="_blank" href="https://www.theironyard.com/locations/atlanta.html">The Iron Yard</a> this past year and learning how to be a front-end Javascript developer. I'm excited to continue my journey working with people to make things that are useful.  And I am reminded of the Donald Knuth line that I am one of "many people doing things that build on each other, like a wall of mini stones."

<br></br>
  </div>
</div>
  <div class="about-us-image column is-half">
    <img class="about-us-img" src="images/IMG_8564.png"/>
    <div class="contact-admin"> With my peeps, (and wife of 30 years and 3 children, Spencer, Carden, and Virginia), who Piggybacked Carden 80 miles on the Georgia Appalachian Trail to raise awareness for Muscular Dystrophy</div>
</div>
</div>
