<div class="about-us-container columns">
  <div class="right-side column">

  <div class="about-us">It's All About Me</div>
  <div class="about-us-desc">
    I mean this section.
<br></br>The authors have found no other resource that puts all these categories on one easy-to-navigate site specifically for teens.  After further research, most sites geared to teens are too broad, are not local, and are mainly interested in capturing a user in order to create traffic and promote advertizing.  “Summer Break” aids teens and their parents because it provides a source of real events and job postings that have been pre-approved before being posted by the sites’ authors. Anyone can post an opportunity once logged in; however, only a site administrator has access to actually make the opportunity live for the public and only after the opportunity is thoroughly checked out.

<br></br>The authors are hopeful that more companies, volunteer organizations, and churches will want to be administrators so they themselves can directly make their events live without any further assistance.  In this way, the site becomes a very dynamic "grass-roots" resource that helps families, organizations, and communities keep teens learning, happy, and healthy during the summer, and ultimately throughout the year.

<br></br>So how will YOU break the normal summer mold?
  </div>
</div>
  <div class="about-us-image column is-half">
    <img class="about-us-img" src="images/IMG_3572.jpg"/>
    <div class="contact-admin"> With my peeps who Piggybacked my daughter, Carden, 70 miles on the Appalachian Trail to raise awareness for Muscular Dystrophy</div>
</div>
</div>
