<div class="scroll-wrap">
  <nav class="scroll-nav">
    <ul>
      <li><a href="#section-1" du-smooth-scroll du-scrollspy>General Events</a></li>
      <li><a href="#section-2" du-smooth-scroll du-scrollspy>Volunteer</a></li>
      <li><a href="#section-3" du-smooth-scroll du-scrollspy>Summer Camps</a></li>
      <li><a href="#section-4" du-smooth-scroll du-scrollspy>Educational</a></li>
      <li><a href="#section-5" du-smooth-scroll du-scrollspy>Jobs</a></li>
    </ul>
  </nav>
<div class="columns">
<div class="main-events column">
  <!----general events section------------------>

 <section  id="section-1" class="general-events auto">
    <span class="general-events-title"> General Events: </span>
      <article class="media list-event-page" ng-repeat='general in generalEvents' >
        <figure class="media-left">
          <p class="image is-128x128">
            <img ng-src="{{ general.photoUrl }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="main-event-description">
              <strong><a class="general-website" href="/#!/events/{{ general.id }}">{{ general.title }}</a></strong> <small>{{ general.contact }}</small>
              <br>
              <span>{{ general.description }}</span>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <!-- <a class="level-item">
                <!-- <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true">
                </div> -->
              </a>
              <a ng-hide="!loggedIn" ng-click="liked(general.id)" class="button is-fbblue">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp {{ general.likesnumber }}</a>
              <a ng-hide="!loggedIn" ng-class="{'is-success' : attendingStatus(general.id), 'is-grey': !attendingStatus(general.id)}" class="button is-grey" ng-click="rsvp(general.id); unRsvp(userInfo.isAttending)">RSVP</a>
              <span class="you-and-guests" ng-hide="!attendingStatus(general.id)">You and &nbsp</span>
              <span>{{ general.Guestlists.length }} people are going!</span>
            </div>
            <div class="level-right">
              <a ng-hide="!userInfo.isAdmin" ng-click="deleteEvent(general.id)" class="button">Delete</a>
            </div>
          </nav>
        </div>
      </article>
 </section>
 <!------------------------------------------>
 <!----volunteer section---------------------->
 <section  id="section-2" class="general-events auto">
    <span class="general-events-title"> Volunteer: </span>
      <article class="media list-event-page" ng-repeat='vol in volunteer'>
        <figure class="media-left">
          <p class="image is-128x128">
            <img ng-src="{{ vol.photoUrl }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a class="activity-website" href="/#!/events/{{ vol.id }}">{{ vol.title }}</a></strong> <small>{{ vol.contact }}</small>
              <br>
              {{ vol.description }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a ng-hide="!loggedIn" ng-click="liked(vol.id)" class="button is-fbblue">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp {{ vol.likesnumber }}</a>
              <a ng-hide="!loggedIn" ng-class="{'is-success' : attendingStatus(vol.id), 'is-grey': !attendingStatus(vol.id)}" class="button is-grey" ng-click="rsvp(vol.id)">RSVP</a>
            <span class="you-and-guests" ng-hide="!attendingStatus(vol.id)">You and &nbsp</span>
            <span>{{ vol.Guestlists.length }} people are going!</span>
            </div>
            <div class="level-right">
              <a ng-hide="!userInfo.isAdmin" ng-click="deleteEvent(vol.id)" class="button">Delete</a>
            </div>
          </nav>
        </div>
      </article>
 </section>
 <!------------------------------------------->
 <!----Summer Camp section---------------------->
 <section  id="section-3" class="general-events auto">
    <span class="general-events-title"> Summer Camps: </span>
      <article class="media list-event-page" ng-repeat='camp in camps'>
        <figure class="media-left">
          <p class="image is-128x128">
            <img ng-src="{{ camp.photoUrl }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a class="activity-website" href="/#!/events/{{ camp.id }}">{{ camp.title }}</a></strong> <small>{{ camp.contact }}</small>
              <br>
              {{ camp.description }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a ng-hide="!loggedIn" ng-click="liked(camp.id)" class="button is-fbblue">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp {{ camp.likesnumber }}</a>
              <a ng-hide="!loggedIn" ng-class="{'is-success' : attendingStatus(camp.id), 'is-grey': !attendingStatus(camp.id)}" class="button is-grey" ng-click="rsvp(camp.id)">RSVP</a>
              <span class="you-and-guests" ng-hide="!attendingStatus(camp.id)">You and &nbsp</span>
              <span>{{ camp.Guestlists.length }} people are going!</span>
            </div>
            <div class="level-right">
              <a ng-hide="!userInfo.isAdmin" ng-click="deleteEvent(camp.id)" class="button">Delete</a>
            </div>
          </nav>
        </div>
      </article>
 </section>
 <!------------------------------------------->
 <!----volunteer section---------------------->
 <section  id="section-4" class="general-events auto">
    <span class="general-events-title"> Educational: </span>
      <article class="media list-event-page" ng-repeat='education in educational'>
        <figure class="media-left">
          <p class="image is-128x128">
            <img ng-src="{{ education.photoUrl }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a class="activity-website" href="/#!/events/{{ education.id }}">{{ education.title }}</a></strong> <small>{{ education.contact }}</small>
              <br>
              {{ education.description }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a ng-hide="!loggedIn" ng-click="liked(education.id)" class="button is-fbblue">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp {{ education.likesnumber }}</a>
              <a ng-hide="!loggedIn" ng-class="{'is-success' : attendingStatus(education.id), 'is-grey': !attendingStatus(education.id)}" class="button is-grey" ng-click="rsvp(education.id)">RSVP</a>
              <span class="you-and-guests" ng-hide="!attendingStatus(education.id)">You and &nbsp</span>
              <span>{{ education.Guestlists.length }} people are going!</span>
            </div>
            <div class="level-right">
              <a ng-hide="!userInfo.isAdmin" ng-click="deleteEvent(education.id)" class="button">Delete</a>
            </div>
          </nav>
        </div>
      </article>
 </section>
 <!------------------------------------------->
 <!----Jobs section---------------------->
 <section  id="section-5" class="general-events auto">
    <span class="general-events-title"> Jobs: </span>
      <article class="media list-event-page" ng-repeat='job in jobs'>
        <figure class="media-left">
          <p class="image is-128x128">
            <img ng-src="{{ job.photoUrl }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a class="activity-website" href="/#!/events/{{ job.id }}">{{ job.title }}</a></strong> <small>{{ job.contact }}</small><small>{{ job.email }}</small>
              <br>
              {{ job.description }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a ng-hide="!loggedIn" ng-click="liked(job.id)" class="button is-fbblue">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp {{ job.likesnumber }}</a>
              <a ng-hide="!loggedIn" ng-class="{'is-success' : attendingStatus(job.id), 'is-grey': !attendingStatus(job.id)}" class="button is-grey" ng-click="rsvp(job.id)" >Interested</a>
              <span class="you-and-guests" ng-hide="!attendingStatus(job.id)">You and &nbsp</span>
              <span>{{ job.Guestlists.length }} people are interested!</span>
            </div>
            <div class="level-right">
              <a ng-hide="!userInfo.isAdmin" ng-click="deleteEvent(job.id)" class="button">Delete</a>
            </div>
          </nav>
        </div>
      </article>
 </section>
 <!------------------------------------------->
 </div>
 <!-----user-events-box----------------------->

 <div ng-hide="!loggedIn" class="user-events column is-one-quarter">
  <div class="user-container">
    <div class="user-left">
         <img class="image is-128x128" src="https://c1.staticflickr.com/4/3671/32619393714_606789275b_m.jpg" alt="Image">
     </div>
     <div class="user-content">
      <p class="user-name title is-4">{{ userInfo.firstName }} {{ userInfo.lastName}}</p>
      <p class="user-email subtitle is-6">{{ userInfo.email }}</p>
    </div>
    <div class="list-user-events">
      <div class="user-attending"> My Events:</div>
      <div class="user-rsvp">
        <ul class="rsvp-list">
          <li ng-repeat="event in userRsvp">
            <!-- <img class="image is-48x48" ng-src="{{ event.Activity.photoUrl }}"/> -->
            <div><a href="#!/events/{{ event.activity_id }}">
            {{event.Activity.title}} </a></div>
            <div>{{event.Activity.date}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
 </div>
 <!---google-location-map-------------------->
     <!-- <div class="location-container">
       <div class="location-title"> Event Locations: </div>
       <div id="location"></div>
     </div> -->
 <!------------------------------------------>

</div>
<div class="details" ui-view></div>
