<div class="landing-content">
<!---landing page---------------------------------------------------------->

  <div class="landing-box">
    <div class="landing-container animate-me fix-landing"></div>
    <div class="who-we-are-banner">
      <div id="who-we-are">WHO IS THIS GUY?</div>
      <div class="mission-statement"> His mission:  To make things that help people</div>
      <!-- <p class="mission-statement-2"></p> -->
    </div>
  </div>

<!------------------------------------------------------------------------->
<!---welcome-about-me---------------------------->
<div class="middle">
  <div class="most-popular">LATEST PROJECTS</div>

<!---featured events--------->


<div class="featured-events">
  <div class="featured-event-card" >
   <figure class="image is-1by1">
       <img src="images/magic.png"/>
     <div class="media-content">
        <a href="http://tiy-kurt-soundcloud.surge.sh/"><p class="is-small">Kurt's Magic Jukebox</p></a>
    </div>
   </div>
   <div class="featured-event-card" >
    <figure class="image is-1by1">
        <img src="images/Snap.png"/>
      <div class="media-content">
         <a href="https://tiy-mariefilbey-snapshots-front.surge.sh"><p class="is-small">SnapShots</p></a>
     </div>
    </div>
    <div class="featured-event-card" >
     <figure class="image is-1by1">
         <img src="images/magic.png"/>
       <div class="media-content">
          <a href="http://tiy-kurt-soundcloud.surge.sh/"><p class="is-small">Kurt's Magic Jukebox</p></a>
      </div>
     </div>
     <div class="featured-event-card" >
      <figure class="image is-1by1">
          <img src="images/magic.png"/>
        <div class="media-content">
           <a href="http://tiy-kurt-soundcloud.surge.sh/"><p class="is-small">Kurt's Magic Jukebox</p></a>
       </div>
      </div>
      <div class="featured-event-card" >
       <figure class="image is-1by1">
           <img src="images/magic.png"/>
         <div class="media-content">
            <a href="http://tiy-kurt-soundcloud.surge.sh/"><p class="is-small">Kurt's Magic Jukebox</p></a>
        </div>
       </div>
  </div>
 </div>

</div>
<!--------------------------->
<!---footer notes------------->
<div class="footer-content">
  <div class="foot-link"><a href="#!/about">Contact Me</a></div>
</div>

</div>

<div class="details" ui-view></div>
