<div class="landing-content">
<!---landing page---------------------------------------------------------->

  <div class="landing-box">
    <div class="landing-container animate-me fix-landing"></div>
      <div class="bio-box"><a href="#!/about">Bio</a></div>
      <div class="git-me"><a href="https://github.com/rkwyckoff"><i class="fa fa-github" aria-hidden="true"></i></a></div>
      <div class="blog"><a href="https://medium.com/@kurtwyckoff">Blog</a></div>
      <div class="link-in"><a href="https://www.linkedin.com/in/rkwyckoff/">in</a></div>
      <div class="who-we-are-banner">
      <div id="who-we-are">WHO IS THIS GUY?</div>
      <div class="mission-statement"> His mission:  To make things that help people</div>
      <!-- <p class="mission-statement-2"></p> -->
    </div>
  </div>

<!------------------------------------------------------------------------->
<!---welcome-about-me---------------------------->
<div class="middle">
  <div class="most-popular">LATEST PROJECTS</div>

<!---featured events--------->


<div class="featured-events">
  <div class="featured-event-card" >
   <figure class="image is-1by1">
       <img src="images/magic.png"/>
  </figure>
     <div class="media-content">
        <a href="http://tiy-kurt-soundcloud.surge.sh/"><p class="is-small">Kurt's Magic Jukebox</p></a>
     </div>
  </div>
   <div class="featured-event-card" >
    <figure class="image is-1by1">
        <img src="images/Snap.png"/>
    </figure>
      <div class="media-content">
         <a href="https://tiy-mariefilbey-snapshots-front.surge.sh"><p class="is-small">SnapShots</p></a>
     </div>
    </div>
    <div class="featured-event-card" >
     <figure class="image is-1by1">
         <img src="images/summer.png"/>
    </figure>
       <div class="media-content">
          <a href="https://tiy-mariefilbey-summerbreakfront.surge.sh"><p class="is-small">Summer Break</p></a>
      </div>
     </div>
     <div class="featured-event-card" >
      <figure class="image is-1by1">
          <img src="images/artems.png"/>
      </figure>
        <div class="media-content">
           <a href="http://tiy-houseofkal-el-group-project-cafe.surge.sh/"><p class="is-small">Artem's Cafe</p></a>
       </div>
      </div>
      <div class="featured-event-card" >
       <figure class="image is-1by1">
           <img src="images/color.png"/>
      </figure>
         <div class="media-content">
            <a href="http://tiy-kurt-simon.surge.sh/"><p class="is-small">Color Match Game</p></a>
        </div>
       </div>
  </div>
 </div>


<!--------------------------->
<!---footer notes------------->
<div class="footer-content">
  <div class="foot-link"><a href="images/KurtWyckoffResume.pdf">Click Here for Resume</a></div>
</div>
</div>
<div class="details" ui-view></div>
