<div class="landing-content">
<!---landing page---------------------------------------------------------->

  <div class="landing-box">
    <div class="landing-container animate-me fix-landing"></div>
    <div class="who-we-are-banner">
      <div id="who-we-are">WHO IS THIS GUY?</div>
      <div class="mission-statement"> His mission:  To make things that help people</div>
      <p class="mission-statement-2"></p>
      <i class="fa fa-thumbs-o-up fa-5x landing" aria-hidden="true"></i>
    </div>
  </div>

<!------------------------------------------------------------------------->
<!-----welcome-about-us---------------------------->
<div class="middle">
  <div class="most-popular">LATEST PROJECTS</div>
  <!-- <div class="welcome-to-us">
    <div class="welcome-to">Welcome</div>
  <div class="container middle-saying">
    <div class="summer-break to-your"> to your </div>
    <div class="summer-break not-so-typical tag">not-so-typical</div>
   <div class="summer-break-middle">Summer Break</div>
  </div>
 </div> -->
 <!------mission------------->
 <!-- <div class="mission container">
   <div class="our-mission">Our Mission:</div>
   <div class="mission-statement"> To facilitate and encourage parent-approved opportunites for teens in the Greater Atlanta area during the summer.</div>
 </div> -->
 <!-------------------------->

<!------------------------------------------------->

<!---featured events--------->


<div class="featured-events">
  <div class="featured-event-card" ng-repeat="event in featured">
    <div class="card-image">
   <figure class="image is-1by1">
     <img ng-src="{{event.photoUrl}}" alt="Image">
   </figure>
   <div class="media-content">
        <a href="#!/events/{{event.id}}"><p class="is-small">{{event.title}}</p></a>
    </div>
   </div>
  </div>
 </div>

 <!-----stat count------------->
 <div class="white-stat-container">
    <div class="stat-container">
      <div class="stat-box"><span class="stat-number">{{allEventsStat}}</span><span> total opportunities!</span></div>
      <div class="stat-box"><span class="stat-number">{{allUsersStat}}</span><span> total users!</span></div>
      <div class="stat-box"><span class="stat-number">{{allRsvpStat}}</span><span> total RSVPs!</span></div>
    </div>
  </div>
 <!---------------------------->
</div>
<!--------------------------->
<!---footer notes------------->
<div class="footer-content">
  <div class="foot-link"><a href="#!/about">Contact Us</a></div>
  <div class="foot-link"><a href="#!/terms">Terms and Conditions</a></div>
  <div class="foot-link develop">Site developed by <a href="https://www.linkedin.com/in/rkwyckoff/">Kurt Wyckoff</a> and <a href="https://github.com/mariefilbs"> Marie Filbey</a>.</div>
</div>

</div>

<div class="details" ui-view></div>
