<!---sign in/login form---------------------------------------------------->
<div class="modal-background">
<div class="modal-content">
  <div class="login-page">
  <div class="form">
    <form class="register-form css-form" ng-submit="register(user)" novalidate>
      <input type="text" placeholder="first name" ng-model="user.firstName" required/>
      <input type="text" placeholder="last lame" ng-model="user.lastName" required/>
      <input type="text" placeholder="email address" ng-model="user.email" required/>
      <input type="password" placeholder="password" ng-model="user.password" min="5" required/>
      <input type="text" placeholder="photo URL" ng-model="user.profileUrl" />
      <!-- <input type="text" placeholder="add a profile url" ng-model="user.profile_url" /> -->
      <button>create</button>
      <p class="message">Already registered? <a ng-click="switchForms()">Sign In</a></p>
    </form>

    <!--------------------------------->
    <form class="login-form css-form" novalidate ng-submit="login(signin)">
      <!---new user notification--------->
           <div ng-repeat="msg in notifications" class="pop-up-new-user notification">
            <button ng-click="removeMsg(msg)"
                  class="delete"></button>
                  <p class="content">
                  {{ msg }}
                  </p>
           </div>
      <!---------------------------------->
      <input type="text" placeholder="email" ng-model="signin.email" required/>
      <input type="password" placeholder="password" ng-model="signin.password" required/>
      <button>login</button>
      <p class="message">Not registered? <a ng-click="switchForms()">Create an account</a></p>
      <a class="fb-login" href="https://rocky-crag-27614.herokuapp.com/auth/facebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        LOGIN WITH FACEBOOK
        <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> -->
      </a>
    </form>
  </div>
</div>

      <button class="modal-close" ng-click="deactivate()"></button>
   </div>
</div>

<!----------------------------------------------------------------------->
