
<!----navigation bar ----------------------------------------------------->
<nav class="nav pending-nav">
<div class="nav-center">
  <a class="nav-item logo"><span class="summer">Summer</span> <span class="break">Break</span></a>

</div>

<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
<span class="nav-toggle">
  <span></span>
  <span></span>
  <span></span>
</span>

<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "is-active" to display it on mobile -->
<div class="nav-right nav-menu">
  <a href="#!/home" class="nav-item link">Home</a>
  <a href="#!/about" class="nav-item link">About</a>
  <a href="#!/addevent" class="nav-item link" ng-hide="!loggedIn">Add an Event</a>
  <a href="#!/events" class="nav-item link">Events</a>
  <span ng-hide="!loggedIn" class="welcome-fix">Welcome, {{ userInfo.firstName }}!</span>
  <a href="#!/pending" ng-hide="!userInfo.isAdmin" class="nav-item"><span class="holding-tank-number">{{ numberOfPending }}</span><i class="fa fa-archive archive-fix" aria-hidden="true"></i></a>

  <span class="nav-item">
    <a href="#!/users" id="sign-in-out" class="button" ng-hide="loggedIn" >
      <span>Sign In/Register</span>
    </a>
    <a id="sign-in-out" class="button" ng-show="loggedIn">
      <span ng-click="signOut()">Sign Out</span>
    </a>
  </span>
</div>
</nav>


<div id="holding-tank">
  <section class="holding-section">
 <article class="media list-event-page" ng-repeat='pending in pendingEvents'>
    <div class="form-content">
      <form ng-show="pending.isEditing" ng-submit="updateEvent(pending.id)">
        <input placeholder="date" ng-model="pending.date"/>
        <input placeholder="title" ng-model="pending.title" />
        <input placeholder="photo url" ng-model="pending.photoUrl"/>
        <input placeholder="description" ng-model="pending.description"/>
        <input placeholder="contact" ng-model="pending.contact"/>
        <input placeholder="location" ng-model="pending.location"/>
        <input placeholder="employer" ng-model="pending.employer"/>
        <input type="email" placeholder="email" ng-model="pending.email"/>
      </form>
    </div>


    <figure class="media-left">
      <p class="image is-128x128">
        <img ng-src="{{ pending.photoUrl }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><a class="activity-website">{{ pending.title }}</a></strong> <small>{{ pending.contact }}</small>
          <br></br>
          <small>{{pending.email}}</small>
          <small>{{pending.activityUrl}}</small>
          <small>{{pending.employer}}</small>
          <small>{{pending.location}}</small>
          <small>{{pending.date}}</small>
          <br>
          {{ pending.description }}
        </p>
      </div>


      <div>
      <a href="#!/events" ng-click="approve(pending.id)" class="button is-success">Approve</a>


      <a ng-click="enableEditor(pending)" ng-class="{ isEditing: true }"class="button is-warning">Edit</a>
      <span ng-show="pending.isEditing">
        <a ng-click="save(pending)" class="button is-light">save</a>
        or
        <a ng-click="disableEditor(pending)" class="button is-dark">cancel</a>
      </span>


      <a ng-click="deleteEvent(pending.id)" class="button is-danger">Delete</a>
    </div>
  </div>

  </article>
 </section>
</div>
