<div class="terms"><span class="terms-title">Terms and Conditions</span>
<br></br>
1)All user posts and comments are subject to review by staff of “Summer Break” before being publicly posted.  Upon further review by staff, posts or comments may be removed from site even after becoming public.
<br></br>
2)Any post that emanates from an individual and not a known organization will be called by our staff to validate the posting.  Also,  the individual poster is required to provide a couple of references we can call to vouch for the individual.   If, in our opinion they check out, we will make the posting live.  However, it is ultimately the sole responsibility and liability of the parents to allow the child to enter the grounds and premises of the individual, and “Summer Break” assumes no liability  for any interaction between the individual poster and the child.
<br></br>
3)Any user wishing to post content or comments must be registered and logged into the site.
<br></br>
4)The content and comments should reflect the mission statement of the “Summer Break” site which is to promote healthy, safe, teen events and job postings.  Any comments or content which are counter to this mission will be denied, and are subject to review by “Summer Break” staff.
<br></br>
5)”Summer Break” does store “cookies” per user login but only during the session.  This feature provides access to post and make comments.  No user information is shared or made available to the public.
<br></br>
6)Administrator permissions are granted to individuals representing organizations who post multiple events or jobs.  Administrators are chosen solely by the discretion of the “Summer Break” staff, and administrator status may be revoked at any time if warranted per the staff.</div>
</div>
