<!----navigation bar ----------------------------------------------------->
<!-- <nav class="nav trans-nav">
<div class="nav-left">
  <a class="nav-item logo"><h2 class="summer" data-shadow='summer'>Summer</h2> <span class="break">Break</span></a>

</div> -->

<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
<!-- <span class="nav-toggle">
  <a>Home</a>
  <a>About</a>
  <a>Event</a>
</span> -->

<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "is-active" to display it on mobile -->
<!-- <div class="nav-center nav-menu">
  <a href="#!/home" class="nav-item top-nav-item">Home</a>
  <a href="#!/about" class="nav-item top-nav-item">About</a>
  <a href="#!/addevent" class="nav-item top-nav-item" ng-hide="!loggedIn">Add an Event</a>
  <a href="#!/events" class="nav-item top-nav-item">Events</a>
</div>
<div class="nav-right nav-menu">
  <span ng-hide="!loggedIn" class="welcome">Welcome, {{ userInfo.firstName }}!</span>
  <a href="#!/pending" ng-hide="!userInfo.isAdmin" class="nav-item"><span class="holding-tank-number">{{ numberOfPending }}</span><i class="fa fa-archive" aria-hidden="true"></i></a>

  <span class="nav-item">
    <a href="#!/users" class="button" ng-hide="loggedIn" >
      <span>Sign In/Register</span>
    </a>
    <a  id="sign-in-out" class="button" ng-show="loggedIn">
      <span ng-click="signOut()">Sign Out</span>
    </a>
  </span>
</div>
</nav> -->
<!------------------------------------------------------------------------>
<!-- <div class="details" ui-view></div> -->

<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>SummerBreak</strong>  developed by <a class="kurts-link" href="https://www.linkedin.com/in/rkwyckoff/">Kurt Wyckhoff</a> and <a  class="maries-link" href="https://github.com/mariefilbs">Marie Filbey.</a>
      </p>
    </div>
  </div>
</footer> -->
